body{
background-color: cornsilk;
}

.headder{

text-align: center;
text-shadow: 2px 4px 5px black;


}

#para {
  box-shadow: 10px 10px 10px black;
    margin: 34px;
    padding: 34px;
    border: 2px solid black;
    border-radius: 8px 3px 8px 3px;
background-color: aqua;
animation-name: para1;
position: relative;
animation-duration: 10s;
animation-iteration-count: infinite;
}

@keyframes para1{

0%{
background-color:aqua ;
}

25%{
    background-color: blanchedalmond;
}

50%{
background-color:palevioletred ;
}


75%{
  background-color:skyblue ;  
}

100%{
background-color: burlywood;    
}

}



.cont:hover{
    
    transform: translateY(-5px);
   

}


.cont{
    

border-radius: 5px;
text-decoration: none;
background-color: transparent;
margin-top: 10px;
padding: 5px;
border: none;
transition-property: transform ;
transition-duration: 0.3s;
transition-timing-function: ease;
cursor: pointer;
}